.additional__list {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 36px;
    padding-right: 36px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    width: 75%;
    padding-top: 15px;
    margin-bottom: 70px;
  }
}

.additional__title {
  position: relative;
  margin: 0;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-top: 36px;
    padding-bottom: 80px;
    padding-left: 35px;
    margin-bottom: 25px;
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    margin-top: 40px;
    margin-bottom: 75px;
    padding: 0;
    border: none;
  }
}

.additional__title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  left: 0;
  bottom: -38px;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    content: "";
    position: absolute;
    width: 72%;
    height: 1px;
    background-color: #cdcdcd;
    left: 0;
    bottom: -76px;
  }
}

.additional__item {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  justify-content: space-between;
  min-width: 280px;
  min-height: 98px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: unset;
    flex-wrap: wrap;
    min-width: 630px;
    align-items: baseline;
  }

  @media (min-width: $desktop-width) {
    min-height: 72px;
    padding-top: 0;
  }
}

.additional__th {
  grid-column: 1/-1;
  margin-right: auto;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    margin-right: auto;
  }
}

.additional__td {
  padding: 0;
  font-family: $arial;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  margin-bottom: 15px;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    line-height: 20px;
  }
}

.additional__td-center {
  @media (min-width: $tablet-width) {
    margin-right: 55px;
  }
}

.additional__td-right {
  text-align: right;

  @media (min-width: $desktop-width) {
    margin-right: 38px;
  }
}

.additional__td-button {
  padding: 0;
  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}

.additional__button {
  width: 100%;
  height: 40px;
  display: block;
  margin: 0;
  padding-top: 9px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.additional__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #cdcdcd;
  left: 0;
  bottom: 15px;

  @media (min-width: $tablet-width) {
    bottom: 25px;
    width: 112%;
    left: -37px;
  }

  @media (min-width: $desktop-width) {
    left: 0;
    width: 100%;
    bottom: 15px;
  }
}

.additional__desktop-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.additional__promo {
  width: 100%;
  height: 290px;
  background-image: url("../img/icon-gift.svg"), linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/promo-cat-mob.jpg");
  background-repeat: no-repeat;
  background-position: top 65px center, top center, top center;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    height: 200px;
    background-image: url("../img/icon-gift.svg"), linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/promo-cat-tablet.png");
    background-position: top 55px left 79px, top center, top center;
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 288px;
    background-image: url("../img/icon-gift.svg"), linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/promo-cat-mob.jpg");
    background-repeat: no-repeat;
    background-position: top 65px center, top center, top center;
    margin-bottom: 0;
  }
}

.additional__promo-link {
  font-family: $arial;
  line-height: 20px;
  height: 290px;
  text-align: center;
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding-top: 166px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-right: 124px;
    height: 200px;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    line-height: 20px;
    height: 290px;
    padding-right: 0;
    text-align: center;
    padding-top: 166px;
    display: flex;
    justify-content: center;
  }
}
