.button {
  background-color: #68b738;
  font-family: $oswald;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-style: none;
}
