.form {
  @media (min-width: $tablet-width) {
    padding: 0 37px;
  }
}

.form__title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }
}

.form__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 39px;
  width: 15em;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }
}

.form__list-info {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__item {
  display: flex;
  margin-bottom: 14px;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.form__item:last-child {
  margin-bottom: 52px;
}

.form__list-label {
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin-right: 13px;
  min-width: fit-content;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__list-input {
  display: flex;
  width: 100%;
  min-height: 45px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7e7;
  margin-left: auto;
  padding-left: 16px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    min-height: 52px;
    padding-left: 19px;
  }
}

// радиокнопки
.form__radio {
  padding: 25px 0;
  margin: 0;
  margin-bottom: 26px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  position: relative;
  list-style: none;

  @media (min-width: $tablet-width) {
    padding: 25px 28px;
    border: 1px solid #e7e7e7;
    margin-bottom: 75px;
  }
}

.form__radio-item {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.form__radio-item:last-child {
  margin-bottom: 0;
}

.form__radio-label::before {
  position: absolute;
  top: 6px;
  left: -50px;
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
  content: "";
}

.form__radio-label {
  position: relative;
  text-transform: uppercase;
  color: #222222;
  margin-left: 56px;
}

.form__control-mark {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  left: -59px;
  top: -2px;
}

// контактные данные

.form__contacts-head {
  padding: 0;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }
}

.form__contacts-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form__contact-item {
  position: relative;
  margin-bottom: 14px;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.form__contact-item:last-child {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }
}

.form__contact-label {
  text-transform: uppercase;
  margin-right: 10px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__contact-input {
  flex-grow: 1;
  min-height: 45px;
  font-family: $oswald;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  padding-left: 14px;
  border: 1px solid #cdcdcd;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    min-height: 52px;
    padding-left: 21px;
  }
}

.form__contact-mail {
  position: absolute;
  width: 19px;
  height: 15px;
  background-image: url("../img/mail-icon.svg");
  background-repeat: no-repeat;
  right: 15px;
  top: 16px;
}

.form__contact-tel {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../img/tel-icon.svg");
  background-repeat: no-repeat;
  right: 13px;
  top: 12px;
}

.form__personality,
.form__contacts,
.form__discription,
.form__additional {
  margin: 0;
  padding: 0;
  border: none;
}

.form__discription-head {
  padding: 0;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 47px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }
}

.form__discription-text {
  width: 100%;
  padding: 10px 13px;
  border: 1px solid #e7e7e7;
  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding: 10px 19px;
    font-size: 20px;
    line-height: 30px;
    height: 174px;
    margin-bottom: 65px;
  }
}

// Дополнительно
.form__additional-head {
  padding: 0;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 62px;
  }
}

.form__additional-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 17px;
  }
}

.form__additional-input {
  margin: 0;
}

.form__additional-label {
  text-transform: uppercase;
  margin-left: 66px;

  @media (min-width: $tablet-width) {
    margin-left: 40px;
  }
}

.form__additional-item {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__additional-item:last-child {
  margin-bottom: 41px;
}

.form__button {
  padding: 0;
  width: 100%;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    display: inline-block;
    width: 282px;
    height: 52px;
    font-size: 20px;
    margin-right: 61px;
    margin-bottom: 72px;
  }
}

.form__button-mark {
  display: block;
  font-family: $arial;
  font-size: 14px;
  text-align: center;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    display: inline;
    font-size: 16px;
  }
}
