.main-footer {
  background-color: #f2f2f2;
}

.main-footer__wrapper {
  padding-top: 39px;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 147px;
    padding: 56px 30px;
  }
}

.main-footer__logo {
  display: block;
  text-align: center;
  margin-bottom: 47px;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 163px;
    text-align: left;
  }
}

.main-footer__svg:hover {
  fill: rgba(17, 17, 17, 0.7);
}

.main-footer__svg:active {
  fill: rgba(17, 17, 17, 0.3);
}
