.more {
  position: relative;
  padding-bottom: 50px;

  @media (min-width: $tablet-width) {
    border: 2px solid #f2f2f2;
    height: 429px;
    margin-top: 84px;
    padding-right: 35px;
    padding-left: 35px;
  }

  @media (min-width: $desktop-width) {
    height: 430px;
    margin-top: 84px;
  }
}

.more__title::before,
.more__title::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  left: 50%;
  top: -39px;
  background-color: #d3d3d3;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    width: 60px;
    top: -79px;
  }
}

.more__title::after {
  transform: translateX(-50%) rotate(90deg);
}

.more__title {
  position: relative;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  margin-top: 103px;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    margin-top: 159px;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 23px;
  }
}

.more__subtitle {
  margin: 0;
  font-family: $arial;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 88px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 86px;
  }
}

.more__button {
  background-color: #f2f2f2;
  color: #444444;
}

.more__button:hover {
  background-color: #ebebeb;
}

.more__button:active {
  color: rgba(69, 69, 69, 0.3);
}

.more::after {
  content: "";
  position: absolute;
  width: 458px;
  height: 1px;
  background-color: #ebebeb;
  left: -129px;
  bottom: 26px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
