.product {
  position: relative;
  min-height: 165px;
  display: grid;
  grid-template-columns: 140px auto;
  grid-template-rows: auto auto;
  margin-bottom: 44px;

  @media (min-width: $tablet-width) {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 39px;
    background-image: linear-gradient(360deg, #f2f2f2 84%, transparent 38%);
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding-bottom: 40px;
  }
}

.product__link1 {
  grid-row: 1/3;

  @media (min-width: $tablet-width) {
    display: block;
    text-align: center;
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 41px;
  }
}

.product__img {
  @media (min-width: $tablet-width) {
    width: fit-content;
    height: 200px;
    margin-top: 12px;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: auto;
    margin-top: 4px;
  }
}

.product__discription {
  grid-column: 2/3;
  grid-row: 2/3;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-bottom: 34px;
  }
}

.product__name {
  grid-column: 2/3;
  font-family: $oswald;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 21px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    line-height: 19px;
    margin-bottom: 27px;
  }
}

.product__discription-name {
  display: flex;
  font-family: $arial;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.product__tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.product__mob {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.product__discription-value {
  margin-left: auto;
}

.product__button {
  grid-column: 1/-1;
  width: 100%;
  height: 40px;
  margin-top: 8px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 98%;
  }
}

.product::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ebebeb;
  left: 0;
  bottom: -25px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
