.progress__title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 45px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 2px;
  }
}

.progress__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: $arial;
  font-size: 14px;
  margin-bottom: 53px;

  @media (min-width: $tablet-width) {
    counter-reset: number 0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 318px 280px;
    column-gap: 60px;
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    column-gap: 65px;
  }
}

.progress__discription {
  margin: 0;
  width: 199px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    min-width: 260px;
  }
}

.br-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.progress__item {
  position: relative;
  margin-bottom: 26px;
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    counter-increment: number;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding-left: 0;
    padding-top: 110px;
  }
}

.progress__item::after {
  @media (min-width: $tablet-width) {
    content: counter(number);
    position: absolute;
    z-index: -1;
    font-family: $oswald;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    top: -38px;
    right: 89px;
  }

  @media (min-width: $desktop-width) {
    right: 16px;
  }
}

.progress__item::before {
  content: "";
  position: absolute;
  background-color: #68b738;
  width: 60px;
  height: 60px;
  background-position: 50%;
  background-repeat: no-repeat;
  left: 0;
  top: -2px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.progress__item--leaf::before {
  background-image: url("../img/leaf.svg");
}

.progress__item--instant::before {
  background-image: url("../img/instant.svg");
}

.progress__item--food::before {
  background-image: url("../img/food.svg");
}

.progress__item--timer::before {
  background-image: url("../img/timer.svg");
}
