.result {
  position: relative;
  background-color: #eaeaea;
  padding-top: 25px;
  padding-bottom: 35px;
  width: 100%;

  @media (min-width: $tablet-width) {
    background-color: initial;
    background-image: linear-gradient(360deg, #eaeaea 43.5%, transparent 0%);
    min-height: 1062px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(360deg, #f2f2f2 73.5%, transparent 23%);
    min-height: 600px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 40px;
  }
}

.result::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    top: -20px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.result__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.result__title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.result__discription {
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    max-width: 700px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 69px;
    max-width: 436px;
  }
}

.result__block-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: inherit;

  @media (min-width: $tablet-width) {
    margin-bottom: 94px;
  }

  @media (min-width: $desktop-width) {
    width: 409px;
    margin-bottom: 72px;
  }
}

.result__block {
  text-align: center;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    margin-right: 42px;
  }
}

.result__data {
  margin: 0;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  padding: 13px 42px 17px 42px;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 72px;
    margin-left: 0;
  }
}

.result__data--days {
  padding: 14px 21px 16px 20px;
}

.result__indicators {
  font-family: $arial;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: #444444;
  background-color: #eaeaea;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto 0;
  margin-top: -10px;
  width: fit-content;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    padding-right: 8px;
    padding-left: 8px;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}

.br-mob {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.result__total {
  display: inline-block;
  margin: 20px auto;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-right: 2px;
    margin-top: 6px;
    font-size: 20px;
    line-height: 29px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 51px;
  }
}

.result__total-money {
  margin-left: 3px;

  @media (min-width: $tablet-width) {
    margin: 0;
    display: block;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    margin-left: 65px;
  }
}
