.result {
  background-color: #eaeaea;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    background-color: inherit;
  }
}

.result__title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.result__discription {
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    max-width: 700px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }
}

.result__block-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: inherit;

  @media (min-width: $tablet-width) {
    margin-bottom: 91px;
  }
}

.result__block {
  text-align: center;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    margin-right: 42px;
  }
}

.result__data {
  margin: 0;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  padding: 14px 42px 17px 42px;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 72px;
    margin-left: 0;
  }
}

.result__data--days {
  padding: 15px 21px 16px 20px;
}

.result__indicators {
  font-family: $arial;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: #444444;
  background-color: #eaeaea;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto 0;
  margin-top: -7px;
  width: fit-content;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    font-size: 14px;
    line-height: 14px;
  }
}

.result__total {
  display: inline-block;
  margin: 20px auto;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-right: 0;
  }
}

.result__total-money {
  margin-left: 3px;

  @media (min-width: $tablet-width) {
    margin: 0;
    display: block;
    text-align: right;
  }
}

.result__slider {
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;
  }
}

.result__slider-line {
  margin: 0 auto;
  width: 4px;
  height: 256px;
  background: #666666;
  border-radius: 2px;

  @media (min-width: $tablet-width) {
    height: 512px;
  }
}
