.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  position: relative;
  list-style: none;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.social-list__item + .social-list__item {
  margin-left: 26px;
}

.social-list__icon {
  display: block;
  text-align: center;
  background-repeat: no-repeat;
  width: 29px;
  height: 22px;
}

.social-list__icon--vk {
  background-image: url("../img/social/vk.svg");
}

.social-list__icon--youtube {
  background-image: url("../img/social/youtube.svg");
}

.social-list__icon--telegram {
  background-image: url("../img/social/telegram.svg");
}

.social-list::before {
  content: "";
  position: absolute;
  background-color: #d9d9d9;
  width: 280px;
  height: 1px;
  left: 0;
  top: -20px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.social-list::after {
  content: "";
  position: absolute;
  background-color: #d9d9d9;
  width: 280px;
  height: 1px;
  left: 0;
  top: 45px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
