.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  position: relative;
  list-style: none;
  padding-bottom: 43px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.social-list__item + .social-list__item {
  margin-left: 23px;
}

.social-list__icon {
  display: block;
  text-align: center;
  background-repeat: no-repeat;
  width: 29px;
  height: 22px;
}

.social-list__svg {
  fill: #666666;
}

.social-list__svg:hover {
  fill: #68b738;
}

.social-list__svg:active {
  fill: rgba(104, 183, 56, 0.3);
}

.social-list::before {
  content: "";
  position: absolute;
  background-color: #d9d9d9;
  width: 280px;
  height: 1px;
  left: 0;
  top: -21px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.social-list::after {
  content: "";
  position: absolute;
  background-color: #d9d9d9;
  width: 280px;
  height: 1px;
  left: 0;
  top: 42px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
