.sponsor {
  display: flex;
  justify-content: space-between;
}

.sponsor__text {
  padding-top: 7px;
  display: block;
  font-family: $arial;
  text-decoration: none;
  color: #444444;


  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 22px;
  }
}

.sponsor__text:active {
  color: rgba(68, 68, 68, 0.3);
}

.sponsor__svg {
  fill: #666666;
}

.sponsor__svg:hover {
  fill: #68b738;
}

.sponsor__svg:active {
  fill: rgba(104, 183, 56, 0.3);
}
